.aider*
.env
*.swp
*.swo
libubox/*
netlink/*
lib*.a
lib*.so*
*.gz
a.out
as.csv
cacert.pem
callgrind.out.23330
last.txt
libubus.h
mmap_cache.c_
nlbw
nlbwmon_test
test_https.c_
test.c_
todo.txt
ubus_common.h
ubusmsg.h
uci_config.h
uci.h
valgrind.out
wan_nf.c._
zconf.h
zlib.h
.vscode/settings.json
t/a.out
t/t
t/test.c
t/uci.c
